<a href="https://colab.research.google.com/github/begumis/Melbourne-Housing-Market/blob/main/untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.2.2-cp310-cp310-manylinux2014_x86_64.whl (98.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 MB 8.1 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.23.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.3.post1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.3)
Installing collected packages: catboost
Successfully installed catboost-1.2.2

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option('display.float_format',  '{:.2f}'.format)

In [3]:
url='https://raw.githubusercontent.com/begumis/Melbourne-Housing-Market/main/Melbourne_housing_FULL.csv'
df = pd.read_csv(url)
df_copy = df.copy()
df_copy.head()

       Suburb             Address  Rooms Type      Price Method SellerG       Date  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  BuildingArea  YearBuilt         CouncilArea  Lattitude  Longtitude             Regionname  Propertycount
0  Abbotsford       68 Studley St      2    h        NaN     SS  Jellis  3/09/2016      2.50   3067.00      2.00      1.00 1.00    126.00           NaN        NaN  Yarra City Council     -37.80      145.00  Northern Metropolitan        4019.00
1  Abbotsford        85 Turner St      2    h 1480000.00      S  Biggin  3/12/2016      2.50   3067.00      2.00      1.00 1.00    202.00           NaN        NaN  Yarra City Council     -37.80      145.00  Northern Metropolitan        4019.00
2  Abbotsford     25 Bloomburg St      2    h 1035000.00      S  Biggin  4/02/2016      2.50   3067.00      2.00      1.00 0.00    156.00         79.00    1900.00  Yarra City Council     -37.81      144.99  Northern Metropolitan        4019.00
3  Abbotsford  18/659 Victoria St      3    u        NaN     VB  Rounds  4/02/2016      2.50   3067.00      3.00      2.00 1.00      0.00           NaN        NaN  Yarra City Council     -37.81      145.01  Northern Metropolitan        4019.00
4  Abbotsford        5 Charles St      3    h 1465000.00     SP  Biggin  4/03/2017      2.50   3067.00      3.00      2.00 0.00    134.00        150.00    1900.00  Yarra City Council     -37.81      144.99  Northern Metropolitan        4019.00

In [4]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [5]:
print(f'Shape     : {df_copy.shape}\n'
      f'Size      : {df_copy.size}\n'
      f'Dimension : {df_copy.ndim}')

Shape     : (34857, 21)
Size      : 731997
Dimension : 2

In [6]:
df_copy.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [7]:
df_copy.duplicated().sum()

1

In [8]:
df_copy.loc[df_copy.duplicated(keep=False), :]

           Suburb        Address  Rooms Type  Price Method SellerG        Date  Distance  Postcode  Bedroom2  Bathroom  Car  Landsize  BuildingArea  YearBuilt              CouncilArea  Lattitude  Longtitude            Regionname  Propertycount
15857  Nunawading  1/7 Lilian St      3    t    NaN     SP  Jellis  17/06/2017     15.40   3131.00      3.00      3.00 2.00    405.00        226.00    2000.00  Manningham City Council     -37.83      145.17  Eastern Metropolitan        4973.00
15858  Nunawading  1/7 Lilian St      3    t    NaN     SP  Jellis  17/06/2017     15.40   3131.00      3.00      3.00 2.00    405.00        226.00    2000.00  Manningham City Council     -37.83      145.17  Eastern Metropolitan        4973.00

In [9]:
df_copy.describe().T

                 count       mean       std      min       25%       50%        75%         max
Rooms         34857.00       3.03      0.97     1.00      2.00      3.00       4.00       16.00
Price         27247.00 1050173.34 641467.13 85000.00 635000.00 870000.00 1295000.00 11200000.00
Distance      34856.00      11.18      6.79     0.00      6.40     10.30      14.00       48.10
Postcode      34856.00    3116.06    109.02  3000.00   3051.00   3103.00    3156.00     3978.00
Bedroom2      26640.00       3.08      0.98     0.00      2.00      3.00       4.00       30.00
Bathroom      26631.00       1.62      0.72     0.00      1.00      2.00       2.00       12.00
Car           26129.00       1.73      1.01     0.00      1.00      2.00       2.00       26.00
Landsize      23047.00     593.60   3398.84     0.00    224.00    521.00     670.00   433014.00
BuildingArea  13742.00     160.26    401.27     0.00    102.00    136.00     188.00    44515.00
YearBuilt     15551.00    1965.29     37.33  1196.00   1940.00   1970.00    2000.00     2106.00
Lattitude     26881.00     -37.81      0.09   -38.19    -37.86    -37.81     -37.75      -37.39
Longtitude    26881.00     145.00      0.12   144.42    144.93    145.01     145.07      145.53
Propertycount 34854.00    7572.89   4428.09    83.00   4385.00   6763.00   10412.00    21650.00

In [10]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64